.character-card {
    background-color: rgba(255,255,255,0.65);
    display: flex;
    flex-direction: column;
    margin: 1rem;
    padding: 0 2rem 1rem;
}

.character-card h3 {
    border-bottom: 1px solid grey;
    padding-bottom: 1rem;
}

.character-card p {
    margin: 0.25rem 0;
    text-align: left;
}

.list-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
}